<div class="container" id="formblock">
    <h2 class="col-xs-12">Influencer Login</h2>
      <label for="email"></label>
        <div class="col-xs-12">
          <input [(ngModel)]="influencer.username" type="text" class="form-control" id="username" required placeholder="Username">
        </div>
      <label for="password"></label>
        <div class="col-xs-12">
          <input [(ngModel)]="influencer.password" type="password" class="form-control" id="password" required placeholder="Password">
        </div>
      <div class="col-xs-2">
        <button (click)="login()" type="submit" class="btn" id="submit-btn">Login</button>
      </div>
      <div class="col-xs-10"></div>
  </div>