<div class="container" id="formblock">
  <h2 class="col-xs-12">Become An Influencer</h2>
    <label for="firstName"></label>
      <div class="col-xs-6">
        <input [(ngModel)]="influencer.firstName" type="text" class="form-control" id="firstName" required placeholder="First Name">
      </div>
    <label for="lname"></label>
      <div class="col-xs-6">
        <input [(ngModel)]="influencer.lastName" type="text" class="form-control" id="lname" required placeholder="Last Name">
      </div>
    <label for="email"></label>
      <div class="col-xs-12">
        <input [(ngModel)]="influencer.email" type="email" class="form-control" id="email" required placeholder="Email">
      </div>
    <label for="username"></label>
      <div class="col-xs-12">
        <input [(ngModel)]="influencer.username" type="text" class="form-control" id="username" required placeholder="Username">
      </div>
    <label for="password"></label>
      <div class="col-xs-12">
        <input [(ngModel)]="influencer.password" type="password" class="form-control" id="password" required placeholder="Password">
      </div>
    <div class="col-xs-2">
      <button (click)="signUp()" type="submit" class="btn" id="submit-btn">Sign Up</button>
    </div>
    <div class="col-xs-10"></div>
</div>