<div class="container">
  <a href="/" class="nav-link"><h1>CRMMME</h1></a>
  <nav>
    <h5>Influencer</h5>
    <a routerLink="/influencer-signup" routerLinkActive="nav-item-active" class="nav-link">Signup</a>
    <a> / </a>
    <a routerLink="/influencer-login" routerLinkActive="nav-item-active" class="nav-link">Login</a>
    <a routerLink="/followers" routerLinkActive="active" class="nav-link"> View Followers </a>
  </nav>
  <nav>
    <h5>Supporter</h5>
    <a routerLink="/influencer-signup" routerLinkActive="nav-item-active" class="nav-link">Signup</a>
    <a> / </a>
    <a routerLink="/influencer-login" routerLinkActive="nav-item-active" class="nav-link">Login</a>
  </nav>
</div>